.hero {
  .text-zone {
    &:first-child {
      -webkit-user-select: none;
    }
    opacity: 0;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
    h1 {
      z-index: 5;
      position: relative;
      color: #fff;
      font-size: 53px;
      font-weight: 400;
      line-height: 70px;
      p {
        z-index: 5;
      }
      h1 {
        line-height: 70px;
        z-index: 5;
        .img {
          z-index: -1;
        }
        img {
          position: absolute;
          z-index: -1;
          right: 54%;
          width: 92px;
          top: -27%;
          padding-right: -1rem;
          margin: 0;
          opacity: 0;
          animation: rotateIn 1s linear both;
          animation-delay: 1s;
        }
      }
      .front {
        margin-top: -70px;
      }
    }
    button {
    }
  }
}
